ErrorDocument 404 /index.php?route=notfound

RewriteEngine On

# Ne pas réécrire les fichiers ou répertoires existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrire n'importe quel nom vers index.php?route=<nom>
RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?route=$1 [L,QSA]
