*{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #f0f0f0;
}

main {
    padding-top: 63.59px;
}

header {
    font-size: 1.1em;
    font-weight: bold;
    position: fixed;
    padding: 0.5em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    width: 100%;
    align-items: center;
}

footer {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a{
    color: white;
}
.non_souligne{
    text-decoration: none ;
}

.souligne{
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

.Logo{
    padding-right: 1.250em;
}

.Logo img {
    height: 36px;
}

.Logo:hover{
    opacity: 0.8;
}

.lien_nav_gauche{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.lien_nav_droite{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2em;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header div a {
    padding: 0.313em;
    margin: 0.313em;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo-series {
    width: 8em;
}

/* Table style */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid transparent;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table img {
    max-width: 50px;
    height: auto;
}

table img:hover {
    cursor: zoom-in;
}

a.card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a.card-link:hover {
    text-decoration: underline;
}

/* Modal Card */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-dialog {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: zoom-out;
}