*{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: rgb(255, 245, 245);
}

header {
    font-size: 1.1em;
    font-weight: bold;
    /* position: fixed; */
    padding: 0.5em 0;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    width: 100%;
    align-items: center;
}

footer {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a{
    color: white;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar style */

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar_content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-between;
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_item {
    margin: 0 32px;
    position: relative;
}

.nav_link {
    text-decoration: none ;
    position: relative;
    padding: 8px 0;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.navbar_logo{
    padding-right: 1.250em;
}

.navbar_logo {
    height: 64px;
}

/* banderole style */

.banderole {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.logo_tef {
    position: absolute;
    top:14.5em;
    left:67.7em;
    width: 20em;
    height: 8em;
}

.annonce_tef{
    position: absolute;
    top:22.5em;
    left:67.5em;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 1em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    margin: 2em auto;
}

/* sidebar style */

ul {
    padding: 0;
}

.liste_series {
    background-color: white;
    width: 8em;
    height: 3em;
    padding: 1em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em #ddd solid;
    border-radius: 0.75em;
    box-shadow: 0 0 10px rgba(26, 12, 27, 0.1);
}

.liste_series:hover{
    opacity: 60%;
} 

.image_series{
    width: 8em;
    height: 2em;
}

#xy_sidebar{
    width: 6em;
    height: 3em;
}

#bw_sidebar{
    width: 8em;
    height: 1em;
}

.content {
    flex: 1;
    margin-left:20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid transparent;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table img {
    max-width: 50px;
    height: auto;
}

table img:hover {
    cursor: zoom-in;
}

a.card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a.card-link:hover {
    text-decoration: underline;
}

.card_image {
    width: 50px;
    height: auto;
}

/* Modal Card */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-dialog {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: zoom-out;
}

.modal-content img {
    height: 500px;
    width: auto;
}


/*Produits*/
.series-container{
    flex: 1; /* La série et ses sets prennent tout l'espace disponible */
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: column;
    margin-bottom: 20px;
    margin-left:5px;
}
.row-series {
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: column; /* Les éléments enfants sont disposés en colonne */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.series {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.series h2 {
    text-align: left;
    color: #3e1565/*#430a40*/;
    position: relative; /* Position relative pour les éléments enfants */
}



.sets {
    padding: 20px;
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    justify-content: space-between; /* Espace uniforme entre les éléments */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne lorsque l'espace est insuffisant */
    border-top: 1px solid #ddd;
}

.sets.hidden {
    display: none;
}

.set {
    text-align: center;
    flex-basis: calc(50% - 10px); /* Largeur de chaque set, moins la marge */
    margin-bottom: 50px; /* Marge entre les sets */
}
.set img {
    width: 100%;
    height:auto; /* Largeur à 100% pour occuper tout l'espace disponible */
    max-height: 100px;
    max-width: 300px; /* Hauteur maximale de l'image */
    object-fit: contain; /* Ajustement de la taille de l'image sans déformation */
    padding: 20px;
}
.set p {
    box-sizing: border-box;
}
.set img:hover{
    opacity: 80%;
}

.arrow {
    width: 32px;
    height: 32px;
    fill: currentColor;
    transition: transform 0.3s ease-in-out;
}

.open {
    transform: rotate(180deg);
}

/* footer style */

footer{
    padding-top: 5em;
}