*{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color:#f6f6f6;
}

main {
    flex-grow: 1;
    margin: 1em 0;
    margin-top:120px;
}

header {
    font-size: 1.1em;
    font-weight: bold;
    position: fixed;
    padding: 0.5em 0;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 99;
    
}

footer {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    padding: 2em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a{
    color: white;
}

.content-wrapper {
    flex: 1;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: row; 
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar style */

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar_content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-between;
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_item {
    margin: 0 32px;
    position: relative;
}

.nav_link {
    text-decoration: none ;
    position: relative;
    padding: 8px 0;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.navbar_logo{
    padding-right: 1.250em;
}

.navbar_logo {
    height: 64px;
}

/* banderole style */
.banner{
    margin-top:-35px;
    margin-bottom:20px;

}
.banderole {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

}

.logo_tef {
    position: absolute;
    top:14.5em;
    left:67.7em;
    width: 20em;
    height: 8em;
}

.annonce_tef{
    position: absolute;
    top:22.5em;
    left:67.5em;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 1em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* sidebar style */

ul {
    padding: 0;
}

.text_les_series{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 0.1em transparent;
    border-radius: 1em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.liste_series {
    background-color: white;
    width: 8em;
    height: 3em;
    padding: 1em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em #ddd solid;
    border-radius: 0.75em;
    box-shadow: 0 0 10px rgba(26, 12, 27, 0.1);
}

.liste_series:hover{
    opacity: 60%;
} 

.image_series{
    width: 8em;
    height: 2em;
}

#xy_sidebar{
    width: 6em;
    height: 3em;
}

#bw_sidebar{
    width: 8em;
    height: 1em;
}

/* Cartes Page d'Accueil style */

.text_center {
    text-align: center;
}

.text_bestseller{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 1em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carte_accueil{
    width:  18em;
    height: 25.2em;
    border: 0.1em transparent;
    border-radius: 0.75em;
    margin: 0.2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.content {
    flex: 1;
    margin-left:20px;
    color:#3e1565;
}

.line1{
    margin-left: 9em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%
}

.line2{
    margin-left: 9em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%
}

.carte_accueil:hover{
    opacity: 0.5;
    box-shadow:0 0 10px black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid transparent;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table img {
    max-width: 50px;
    height: auto;
}

table img:hover {
    cursor: zoom-in;
}

a.card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a.card-link:hover {
    text-decoration: underline;
}

.card_image {
    width: 50px;
    height: auto;
}

/* Modal Card */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-dialog {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: zoom-out;
}

.modal-content img {
    height: 500px;
    width: auto;
}


/*Produits*/
.series-container{
    flex: 1; /* La série et ses sets prennent tout l'espace disponible */
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: column;
    margin-bottom: 20px;
    margin-left:5px;
}
.row-series {
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: column; /* Les éléments enfants sont disposés en colonne */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.series {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.series h2 {
    text-align: left;
    color: #3e1565/*#430a40*/;
    position: relative; /* Position relative pour les éléments enfants */
}



.sets {
    padding: 20px;
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    justify-content: space-between; /* Espace uniforme entre les éléments */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne lorsque l'espace est insuffisant */
    border-top: 1px solid #ddd;
}

.sets.hidden {
    display: none;
}

.set {
    text-align: center;
    flex-basis: calc(50% - 10px); /* Largeur de chaque set, moins la marge */
    margin-bottom: 50px; /* Marge entre les sets */
}
.set img {
    width: 100%;
    height:auto; /* Largeur à 100% pour occuper tout l'espace disponible */
    max-height: 100px;
    max-width: 300px; /* Hauteur maximale de l'image */
    object-fit: contain; /* Ajustement de la taille de l'image sans déformation */
    padding: 20px;
}
.set p {
    box-sizing: border-box;
}
.set img:hover{
    opacity: 80%;
}

.arrow {
    width: 32px;
    height: 32px;
    fill: currentColor;
    transition: transform 0.3s ease-in-out;
}

.open {
    transform: rotate(180deg);
}

.buybutton {
    align-items:center;
}

/*filter style*/

.filter-bar {
    display: flex; /* aligne horizontalement les enfants */
    justify-content:space-between; /* répartit l'espace uniformément entre les enfants */
    padding: 10px; /* espacement autour du contenu */
    align-items:center;
    flex:1;
    align-self:flex-start; /*prend tout l'espace disponible */
    flex-direction: row;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    width:auto;
    padding: 25px;
    
    margin-top:20px;
    background-color: #f9f9f9;
    
}

.filter-caption{
    display:flex;
    border: 1px solid transparent;
    margin-right: 20px;
    color: #884d97;
    
    
}
.filter-options{
    display: flex;
    flex:1;
    width:min-content;
    justify-content: flex-start;
    
}
.filter-option {
     /* chaque option de filtre prendra une part égale de l'espace disponible */
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* aligne verticalement les enfants au milieu */
    cursor: pointer;
    width:fit-content;
    margin-left:20px;
    margin-right:20px;
    color:#3e1565;
}


.filter-contents{
    display: flex; /* aligne horizontalement les enfants */
    justify-content: space-between; /* répartit l'espace uniformément entre les enfants */
     /* aligne verticalement les enfants au milieu */
    padding: 10px; /* espacement autour du contenu */
    align-items:center;
    flex:1;
     /* La série et ses sets prennent tout l'espace disponible */
    /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: row;
}
.filter-content.hidden {
    display: none;
}

.filter-content{
    padding: 10px;
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    justify-content: space-between; /* Espace uniforme entre les éléments */
    box-sizing: border-box;
 /* Assurez-vous que le fond est uni */
    width: 100%; /* Assurez-vous que la div prend toute la largeur */
     /* Une ombre pour distinguer le menu déroulant */
    z-index: 10; /* S'assure que le menu déroulant passe au-dessus des autres éléments */
}

.select-items{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    box-sizing: border-box;
}
.select-items div{
    background-color: #ffffff ;
    border-radius: 0.5em;
    padding:1em;
    
}

.view-toggle {
    display: flex;
    align-items: center;
}


/* Formulaire */

.form-group input,
.form-group select,
.form-group textarea {
    padding-left: 10px; 
    padding-right: 520px; 
    border: 1px solid #ddd;
    
}

  
form h2, form h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .radio-inline {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  .radio-inline input[type="radio"] {
    vertical-align: middle;
    margin-right: 3px;
  }
  
  .radio-inline label {
    display: inline;
  }
  
  fieldset#genderFieldset {
    border: 1px solid #cb0f0f;
  }

  /* connexion */
  
.container {
    padding: 25px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.container label {
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="date"],
.container textarea,
.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.container textarea {
    resize: none;
    height: 200px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #e4134d, #851b7b);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.error-field {
    color: red;
    font-size: 12px;
    margin-left: 10px;
}

/* footer style */

footer {
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    padding: 2em 0;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Page not found */

.text_notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 1em;
    background: linear-gradient(90deg, #e4134d, #851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}