*{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color:#f6f6f6;
}

main {
    flex-grow: 1;
    margin: 1em 0;
    margin-top:120px;
}

header {
    font-size: 1.1em;
    font-weight: bold;
    position: fixed;
    padding: 0.5em 0;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 99;
    
}

footer {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    padding: 2em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a{
    color: white;
}

.content-wrapper {
    flex: 1;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: row; 
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar style */

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar_content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-between;
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_item {
    margin: 0 32px;
    position: relative;
}

.nav_link {
    text-decoration: none ;
    position: relative;
    padding: 8px 0;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.navbar_logo{
    padding-right: 1.250em;
}

.navbar_logo {
    height: 64px;
}

/* banderole style */
.banner{
    margin-top:-35px;
    margin-bottom:20px;

}
.banderole {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

}

.logo_tef {
    position: absolute;
    top:14.5em;
    left:67.7em;
    width: 20em;
    height: 8em;
}

.annonce_tef{
    position: absolute;
    top:22.5em;
    left:67.5em;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 0.5em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* sidebar style */

ul {
    padding: 0;
}

.text_les_series{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 0.1em transparent;
    border-radius: 0.5em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.liste_series {
    background-color: white;
    width: 8em;
    height: 3em;
    padding: 1em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em #ddd solid;
    border-radius: 0.75em;
    box-shadow: 0 0 10px rgba(26, 12, 27, 0.1);
}

.liste_series:hover{
    opacity: 60%;
} 

.image_series{
    width: 8em;
    height: 2em;
}

#xy_sidebar{
    width: 6em;
    height: 3em;
}

#bw_sidebar{
    width: 8em;
    height: 1em;
}

/* Cartes Page d'Accueil style */

.text_center {
    text-align: center;
}

.text_bestseller{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 0.5em;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carte_accueil{
    width:  18em;
    height: 25.2em;
    border: 0.1em transparent;
    border-radius: 0.75em;
    margin: 0.2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.content {
    flex: 1;
    margin-left:20px;
    color:#3e1565;
}

.line1{
    margin-left: 9em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%
}

.line2{
    margin-left: 9em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%
}

.carte_accueil:hover{
    opacity: 0.5;
    box-shadow:0 0 10px black;
}

.view-container{
    
    width: 100%;
}
/*Table view*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid transparent;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table img {
    max-width: 50px;
    height: auto;
}

table img:hover {
    cursor: zoom-in;
}

a.card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a.card-link:hover {
    text-decoration: underline;
}

table .card_image {
    width: 50px;
    height: auto;
}

/* Modal Card */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-dialog {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-content {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: zoom-out;
}

.modal-content img {
    height: 500px;
    width: auto;
}


/*Produits*/
.series-container{
    flex: 1; /* La série et ses sets prennent tout l'espace disponible */
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: column;
    margin-bottom: 20px;
    margin-left:5px;
}
.row-series {
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: column; /* Les éléments enfants sont disposés en colonne */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.series {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.series h2 {
    text-align: left;
    color: #3e1565/*#430a40*/;
    position: relative; /* Position relative pour les éléments enfants */
}



.sets {
    padding: 20px;
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    justify-content: space-between; /* Espace uniforme entre les éléments */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne lorsque l'espace est insuffisant */
    border-top: 1px solid #ddd;
}

.sets.hidden {
    display: none;
}

.set {
    text-align: center;
    flex-basis: calc(50% - 10px); /* Largeur de chaque set, moins la marge */
    margin-bottom: 50px; /* Marge entre les sets */
}
.set img {
    width: 100%;
    height:auto; /* Largeur à 100% pour occuper tout l'espace disponible */
    max-height: 100px;
    max-width: 300px; /* Hauteur maximale de l'image */
    object-fit: contain; /* Ajustement de la taille de l'image sans déformation */
    padding: 20px;
}
.set p {
    box-sizing: border-box;
}
.set img:hover{
    opacity: 80%;
}

.arrow {
    width: 32px;
    height: 32px;
    fill: currentColor;
    transition: transform 0.3s ease-in-out;
}

.open {
    transform: rotate(180deg);
}

.buybutton {
    align-items:center;
}

/*filter style*/

.filter-bar {
    display: flex; /* aligne horizontalement les enfants */
    justify-content:space-between; /* répartit l'espace uniformément entre les enfants */
    padding: 25px; /* espacement autour du contenu */
    align-items:center;
    flex:1;
    align-self:flex-start; /*prend tout l'espace disponible */
    flex-direction: row;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    width:auto;
    margin-top:20px;
    background-color: #f9f9f9;
    
}

.filter-caption{
    display:flex;
    border: 1px solid transparent;
    margin-right: 20px;
    color: #884d97;
    
    
}
.filter-options{
    display: flex;
    flex:1;
    width:min-content;
    justify-content: flex-start;
    
}
.filter-option {
     /* chaque option de filtre prendra une part égale de l'espace disponible */
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* aligne verticalement les enfants au milieu */
    cursor: pointer;
    width:fit-content;
    margin-left:20px;
    margin-right:20px;
    color:#3e1565;
}


.filter-contents{
    display: flex; /* aligne horizontalement les enfants */
    justify-content: space-between; /* répartit l'espace uniformément entre les enfants */
     /* aligne verticalement les enfants au milieu */
    padding: 10px; /* espacement autour du contenu */
    align-items:center;
    flex:1;
     /* La série et ses sets prennent tout l'espace disponible */
    /* Utilisation de flexbox pour le placement en ligne des éléments */
    flex-direction: row;
}
.filter-content.hidden {
    display: none;
}

.filter-content{
    padding: 10px;
    display: flex; /* Utilisation de flexbox pour le placement en ligne des éléments */
    justify-content: space-between; /* Espace uniforme entre les éléments */
    box-sizing: border-box;
    width: 100%; /* Assurez-vous que la div prend toute la largeur */
    z-index: 10; /* S'assure que le menu déroulant passe au-dessus des autres éléments */
}

.select-items{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    box-sizing: border-box;
}
.select-items div{
    background-color: #ffffff ;
    border-radius: 0.5em;
    padding:1em;
    cursor: pointer;
}
.price-content {
    display: flex;
    justify-content: space-between;
    flex:1;
}

#price{
    display: inline-block;
    width:80%;
}
#priceOutput{
    display: inline-block;
    text-align:end;
    width:5px;
}

/*grid view*/
#grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff; /* or any color you want for the background */
    border-radius: 10px; /* Rounded corners for the grid container */
  }
  

  #grid-view .card-row {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden; /* Conservez le 'hidden' pour éviter que l'effet de survol ne déborde */
    transition: transform 0.3s ease;
    border-radius: 4px;
    margin: 20px; /* Définissez la marge ici et ne la changez pas au survol */
  }
  
  #grid-view .card-row img {
    max-width: 80%;
    padding:5px; /* Ajusté pour utiliser toute la largeur du parent .card-row */
    transition: transform 0.3s ease; /* Ajout de la transition pour l'effet zoom */
    cursor:zoom-in;
  }
  
  #grid-view .card-row img:hover {
    transform: scale(1.05) rotateX(10deg); /* Ajustez l'échelle et l'angle selon vos préférences */
    z-index: 2; /* Assurez-vous que z-index est plus élevé pour que l'image survolée soit au-dessus des autres */
    opacity: 0.7;
  }
  

  #grid-view .card-row img:hover::after {
    position: relative;
    top: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 3;
}
  
.card-grid-info form{
    display:grid;
    gap: 4px;
    padding: 5px;
    
}

/*Grid Table icon */
.view-toggle {
    display: grid;
    align-items:center;
    grid-template-columns: repeat(2, 50px);
    max-width: fit-content;
}
#grid-icon{
    display: grid;
    grid-template-columns: repeat(2, 1.3em); /* Crée deux colonnes */
    grid-template-rows: repeat(2, 1.3em); /* Crée deux lignes */
    gap: 0.1em; /* Espacement entre les carrés */
    padding:0px;
    margin: 0 auto;
    width: fit-content;  
    background: transparent;
  }
  
#table-icon{
    display: inline-block; 
    align-content: center;
    padding:5px;
    margin-left:0px;
    background: transparent ;
}
.square {
    height: 1.3em;
    border-radius: 0.25em;
    background: #6e0654b4;
   
}
.rectangle{
    display:block;
    height:0.8em;
    width:2.6em;
    border-radius: 0.25em;
    background: #6e0654b4;
    transition:0.4s;
    margin: 0.1em 0;
   
}

/*Card details page*/
.card-wrapper{
    border-radius: 0.5em;
    padding-left:20px;
    padding-right: 20px;
    flex:1;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap: 20px;

}
.card-media-wrapper{
    background-color: #007bff transparent;
    max-width:35%;
    
    padding:10px;
    
    display:flex;
    
    justify-content:space-around;
}

.card-media-wrapper .card_image{
    max-width:100%;
    height:60%;
    margin-top:20px;
}    
.card-media-wrapper .card_image:hover{
    cursor: zoom-in;
}
.card-details-wrapper{
    background-color: #ffffff;
    border-radius:4px;
    padding:30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:flex;
    flex:1;
    flex-direction:column;
    margin-right:20px;
}
.card-details-title{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 45%;
    display: block;
    border-bottom: 1px solid #ddd;
}
.card-details-title h1{
    padding-left:0px;
    font-weight:570;
    font-size:35px;

}
.card-details-title p{
    padding-bottom:20px;
    padding-top: 15px;
    font-size:35px;
}
.card-details-info{
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:10px;
    overflow: hidden;
    box-shadow: 0 0 0;
}
.card-details-info table{
    box-shadow: 0 0 0;
    margin-top:0px;
    padding:5px;

}
.card-details-info td{
    border-bottom: 1px transparent #ddd;
}
.card-details-info h3{
    font-weight:500; 
    margin-top:20px;
    padding-bottom:10px;
    border-bottom: 1px solid #ddd;
}

/* Formulaire */

.form-group input,
.form-group select,
.form-group textarea {
    padding-left: 10px; 
    padding-right: 520px; 
    border: 1px solid #ddd;
    
}

  
form h2, form h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .radio-inline {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  .radio-inline input[type="radio"] {
    vertical-align: middle;
    margin-right: 3px;
  }
  
  .radio-inline label {
    display: inline;
  }
  
  fieldset#genderFieldset {
    border: 1px solid #cb0f0f;
  }

  /* connexion */
  
.container {
    padding: 25px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.container label {
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="date"],
.container textarea,
.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.container textarea {
    resize: none;
    height: 200px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #e4134d, #851b7b);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

.error-message{
    color: red;
    text-align: center;
    margin-top: 20px;
}

.error-field {
    color: red;
    font-size: 12px;
    margin-left: 10px;
}

/* footer style */

footer {
    width: 100%;
    font-size: 1.1em;
    font-weight: 400;
    color: white;
    padding: 2em 0;
    background:linear-gradient(90deg,#e4134d,#851b7b);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Page not found */

.text_notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1em;
    border: 0.1em transparent;
    border-radius: 1em;
    background: linear-gradient(90deg, #e4134d, #851b7b);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*pop up JS instead of localhost indique*/
.custom-alert-hidden{
    display: none;
  }
  
  .custom-alert-show {
    display: block; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .custom-alert-content {
    background: white;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }
  
  .custom-alert-closebtn {
    margin-top:5px;
    float: right;
    cursor: pointer;
    width: 100%;
    padding:10px;
    background: linear-gradient(90deg, #e4134d, #851b7b);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/*Add to cart for grid table and card*/  
td form{
    display:flex;
    justify-content: center;
    padding:10px;
    margin-bottom: 20px;
}
.card-grid-info .quantity-container{
    
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: row;
    gap: 10px;
    
    
    max-width: 100%;
   /* flex-direction: column;
    align-content: center;
    max-width: 100%;
*/
}
.quantity-container{
    display:grid;
    grid-template-columns: repeat(2, 200px);
    position:relative;
  }

.card-grid-info div .quantity-input, .quantity-input {
    justify-self: center;
    justify-content: center;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
     /* Bords arrondis */
    background: #6e0654b4 transparent; /* Bords arrondis */
    
}

#quantity, .card-grid-info div div #quantity{
    border: none;
    text-align: center;
    max-width: 50px; /* Largeur fixe pour l'input */
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding:5px 20px;
}
.card-grid-info div div #quantity::-webkit-outer-spin-button,
.card-grid-info #quantity::-webkit-inner-spin-button,
#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-grid-info div div .quantity-change-btn,  .quantity-change-btn{
    background-color: transparent;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight:bold;
    display: grid;
    
}

.card-grid-info div div .disabled, .disabled{
    background-color: rgba(162, 132, 170, 0.175); 
    cursor: not-allowed; /* Change le curseur pour indiquer que le bouton est désactivé */
    opacity: 0.5;/* Rend le bouton plus transparent pour indiquer qu'il est désactivé */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}

.card-grid-info div div .minus:hover, .minus:hover{
    opacity:60%;
    background-color: #6e06542a;
    transition: background-color 0.3s ease;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.card-grid-info div div .plus:hover, .plus:hover{
    opacity:60%;
    background-color: #6e06542a;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: background-color 0.3s ease;
}

/*stock errors for card and product*/
.stock-error-field, .card-grid-info div .stock-error-field{
    position: relative;
    color: red;
    font-size: 12px;
    margin-right:40px;

}

.card-grid-info div .error-message-hidden, .error-message-hidden {
    visibility: hidden; /* Cela cache le texte mais garde l'espace */
    opacity: 0;
    position: absolute; /* Positionnement absolu */
    bottom: -10px; /* Décalez le message en dessous du conteneur de quantité */
    left: 0; /* Alignez à gauche */
    width: 100%; /* Forcez à prendre toute la largeur du conteneur de quantité */
    transition: visibility 0s, opacity 0.5s linear;
}
.error-message-shown {
    visibility: visible;
    opacity: 1;
    position: absolute; 
    bottom: -20px;
    width: 120%;
    transition: visibility 0s, opacity 0.5s linear;
}
.card-grid-info div .error-message-shown{
    bottom: -7px;
}